<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Augustana College: Private, residential, liberal arts and professional college in Sioux Falls, South Dakota</title>
	<meta name="description" content="Augustana is a private college affiliated with the Lutheran Church (ELCA). Core values include excellence in the liberal arts, community engagement and service." />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body class="front">

<div id="header">
	<h1 id="logo">Augustana College</h1>
	<ul id="tools">
		<li><a href="">Email This Page</a></li>
		<li><a href="">Directory</a></li>
		<li><a href="">Calendar</a></li>
	</ul>
	
	<form action="" id="site-search">
		<input type="text" id="keywords" />
		<input type="submit" value="" id="search" />
	</form>
	
	<ul id="nav">
		<li><a href="">About Augustana</a></li>
		<li><a href="">Admission</a></li>
		<li><a href="">Academics</a></li>
		<li><a href="">Campus Life</a></li>
		<li><a href="">Giving to Augustana</a></li>
		<li><a href="">The Arts</a></li>
		<li><a href="">Athletics</a></li>
		<li class="li-cap"><a href="">News &amp; Events</a></li>
	</ul>
</div> <!--END HEADER -->

<div id="wrapper">
	<div id="wrapper-shade">
	
		<div id="feature">
			<h2 id="nav-flag">Choose Your Path</h2>
			<ul id="feature-nav">
				<li><a href="">Prospective Students</a></li>
				<li><a href="">Current Students</a></li>
				<li><a href="">Faculty &amp; Staff</a></li>
				<li><a href="">Alumni</a></li>
				<li><a href="">Parents</a></li>
				<li class="li-cap"><a href="">Church &amp; Community</a></li>
			</ul>
		</div>
  <!--END FEATURE NAV-->
		
		<div id="content" class="clearfix">
			<div id="main">
			
				<div id="leadin">
					<p class="lead">Augustana College, located in Sioux Falls,  South Dakota, is a selective, private,  residential, comprehensive (liberal arts and professional) college affiliated  with the Evangelical Lutheran Church  in America.  The Augustana experience is anchored by high  standards of <strong>excellence</strong> in the <strong>liberal arts</strong> and is built upon a  foundation of <strong>Christian</strong> values,<strong> community</strong> engagement and <strong>service</strong>.</p>
			  </div><!--END LEAD IN -->
				
				
				<div class="column">
					<h2 class="title">News Feed</h2>
					
					<h3 class="entry-title"><a href="" rel="bookmark" title="">Augustana Spring Football Schedule Announced</a></h3>
					<div class="entry-content">
						<p>Augustana opens its spring football practices today in preparation for the Vikings' first season as a member of the Northern Sun Intercollegiate Conference.</p>
					</div>
					<div class="post-meta">
						<div class="published">
							March 28th, 2008
						</div>
					</div>
					
					<h3 class="entry-title"><a href="" rel="bookmark" title="">Augustana Spring Football Schedule Announced</a></h3>
					<div class="entry-content">
						<p>Augustana opens its spring football practices today in preparation for the Vikings' first season as a member of the Northern Sun Intercollegiate Conference.</p>
					</div>
					<div class="post-meta">
						<div class="published">
							March 28th, 2008
						</div>
					</div>
					
					<h3 class="entry-title"><a href="" rel="bookmark" title="">Augustana Spring Football Schedule Announced</a></h3>
					<div class="entry-content">
						<p>Augustana opens its spring football practices today in preparation for the Vikings' first season as a member of the Northern Sun Intercollegiate Conference.</p>
					</div>
					<div class="post-meta">
						<div class="published">
							March 28th, 2008
						</div>
					</div>
					
					<a href="" class="more">more news</a>
				</div><!--END COLUMN 1 -->
				
				<div class="column">
					<h2 class="title">Event Calendar</h2>
					
					<h3 class="entry-title"><a href="" rel="bookmark" title="">CWS Exhibit Features the Ledger Art of Donald F. Montileaux</a></h3>
					<div class="entry-content">
						<p>Augustana opens its spring football practices today in preparation for the Vikings' first season as a member of the Northern Sun Intercollegiate Conference.</p>
					</div>
					<div class="post-meta">
						<div class="published">
							March 28th, 2008
						</div>
					</div>
					
					<h3 class="entry-title"><a href="" rel="bookmark" title="">Augustana Spring Football Schedule Announced</a></h3>
					<div class="entry-content">
						<p>Augustana opens its spring football practices today in preparation for the Vikings' first season as a member of the Northern Sun Intercollegiate Conference.</p>
					</div>
					<div class="post-meta">
						<div class="published">
							March 28th, 2008
						</div>
					</div>
					
					<h3 class="entry-title"><a href="" rel="bookmark" title="">Augustana Spring Football Schedule Announced</a></h3>
					<div class="entry-content">
						<p>Augustana opens its spring football practices today in preparation for the Vikings' first season as a member of the Northern Sun Intercollegiate Conference.</p>
					</div>
					<div class="post-meta">
						<div class="published">
							March 28th, 2008
						</div>
					</div>
					
					<a href="" class="more">all events</a>
				</div><!--END COLUMN 2-->
			</div><!--END MAIN-->
			
			<div id="feature-bar">			
				<ul class="list-features clearfix">
					<li>
						<img src="images/temp-240x136.gif" alt="" width="240" height="136" />
					  <p>The <a href="">Augustana Thought Leader Forum</a> is a catalyst for insightful public discussion.</p>
				  </li>
<li>
						<img src="images/temp-240x136.gif" alt="" width="240" height="136" />
			<p>The <a href="">Augustana Thought Leader Forum</a> is a catalyst for insightful public discussion.</p>
				  </li>
<li class="end">
						<img src="images/temp-240x136.gif" alt="" width="240" height="136" />
			<p>The <a href="">Augustana Thought Leader Forum</a> is a catalyst for insightful public discussion.</p>
				  </li>
			  </ul>
			</div><!--END FEATURE BAR-->
			
		</div><!--END CONTENT -->
	</div><!--END WRAPPER SHADE-->
</div><!--END WRAPPER-->

<div id="footer">
	<div id="footer-bar-right">&nbsp;</div>
	<div id="footer-bar">
		<a href="" id="make-a-gift">Make a Gift to Augustana</a>
		<p>&copy; 2008 Augustana College.  All rights reserved.</p>
		<p>2001 S. Summit Avenue, Sioux Falls, SD 57197  |  800.727.2844   |    605.274.0770 | +001 605.274.5516 (outside the United States) </p> 
		<span><a href="">Privacy Policy</a>   |   <a href="">Site Map</a>   |   <a href="">Contact Augustana</a></span>
	</div>
</div><!--END FOOTER -->

</body>
</html>